<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    </head>
<body>
    <style>
        div{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
        body{
            margin: 0px;
            padding: 0px;

        }
        .header{
            background-color: rgb(5, 5, 103);
            height: 50px;
            width: 13%;
            border: 2px solid black;
            float: left;
            font-size: 48px;
            color: white;
            text-align: center;

        }
        .topbar{
            height: 50px;
            width: 87%;
            border: 2px solid black;
            float: right;
            text-align: right;
            

        }
        ul{
            list-style-type: none;
            display: inline-block;
        }
        .menu{
            min-height: 690px;
            width: 13%;
            background-color: rgb(8, 8, 63);
            border: 2px solid black;
            float: left;

        }
        .contant{
            float: right;
            border:2px solid rgb(239, 229, 229);
            
            width: 85%;
            margin: 3px 0px 3px 5px;
            width: 85%;
            height: 688px;
        }
    </style>

    <div>
    
      <div class="header">CS</div>
    
      <div class="topbar">
          <ul>
              <li> <a href="">login</a> </li>
              <li> <a href="">language</a> </li>
          </ul>
      </div>
        
      <div class="menu"></div>
    
     

    </div>
    
</body>
</html>